# .NET
bin/
obj/
*.user
*.suo
.vs/
*.log

# Angular
monolegal-frontend/node_modules/
monolegal-frontend/dist/
monolegal-frontend/.angular/

# Secrets (no subir credenciales reales)
appsettings.json
appsettings.*.json

# OS
.DS_Store
Thumbs.db
